html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: black;
    font-weight: 600;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Page */

#main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 5%;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#new-match-wrapper * a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 5px;
    padding: 10px;
    border: 3px solid black;
}

a:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

/* New Match Page */

#new-match-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-match-header {
    margin: 2rem;
}

#new-match-main form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 3px solid black;
    padding: 1rem;
}

#new-match-main form {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 1rem;
}

#new-match-main form input{
    margin-bottom: 1rem;
}

#new-match-main form label{
    margin-bottom: 0.2rem;
}

#new-match-main form .form-button{
    border: 3px solid black;
    margin: 5px;
    padding: 10px;
}

#new-match-main form .form-button:hover{
    background-color: rgba(0, 0, 255, 0.1);
}


/* Match Score Page */

#match-score-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#match-score-wrapper .table {
    width: 30vw;
    border: 3px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#match-score-wrapper .table .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#match-score-wrapper .table .button-column {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#match-score-wrapper .table .button-column button {
    margin: 12px 5px;
}

#match-score-wrapper .table .table-header p {
    margin: 20px 20px;
}

#match-score-wrapper .player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.table-text {
    margin: 20px 20px;
}

/* Played Matches */

#matches-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#matches-wrapper .container {
    width: 50vw;
}

#matches-wrapper .input-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#matches-wrapper .input-container input{
    width: 100%;
    margin-right: 2rem;
}

#matches-wrapper .input-container .btn-filter {
    background-color: none;
    padding: 0.2rem .8rem;
    font-weight: bold;
    color: white;
    border: none;
    background-color: grey;
    border-radius: 3px;
    cursor: pointer;
}

#matches-wrapper .container table {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

#matches-wrapper .container table th {
    padding: 0.5rem;
    font-weight: bold;
    border: 1px solid #dddddd;
}

#matches-wrapper .container table td {
    padding: 0.5rem;
    border-bottom: 1px solid #dddddd;
    font-weight: 400;
}

#matches-wrapper .pagination {
    margin-top: 1rem;
}
